;; Analyzed by ClojureScript 1.7.48
{:name boot.cljs.main819, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {adzerk.boot-reload adzerk.boot-reload, tailrecursion.hoplon.app-pages._book_SLASH_index_DOT_html tailrecursion.hoplon.app-pages._book_SLASH_index_DOT_html}, :imports nil}