<script type="text/javascript">
	$(document).ready(function() {
		$('.hint').addClass('blur');
		$('.hint').on('click', function(event) {
			if($(this).hasClass('blur')) {
				event.preventDefault();
				$(this).removeClass('blur');
			} else {
				$(this).addClass('blur');
			}
		});
	});
</script>
<style>
.blur {
  cursor: help;
  border-radius: 4px;
  background-size:cover;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -ms-filter: blur(4px);
  -o-filter: blur(4px);
  filter: blur(4px);
}
.hint {
  cursor: help;
}

.blur a {
  color: black;
  text-decoration: none;
  cursor: help;
}
</style>
