<aside class="aside  typeset">

	{% if include.type %}
		{% if include.type == "post" %}
			<h3>Related Posts</h3>
			{% include post-related.html %}
		{% else %}
			{% if include.type != "posts" %}
				{% if include.type == "homepage" %}
					<h3>About this site</h3>
					<p>{{ site.description }}</p>
				{% endif %}
				<h3>Blog Posts</h3>
				{% include post-list.html type="posts" %}
			{% endif %}
		{% endif %}
	{% endif %}
	{% include button.html text="Subscribe to posts &nbsp;" icon="rss" link="/feed.xml" %}
	{% include nav-social.html %}

  {% if page.layout == "categories" or include.type == "posts" %}
    <section class="section  section--category-index">
      <h3>Index</h3>
      {% include nav-categories.html %}
    </section>
  {% endif %}

</aside>
