<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="site-footer-inner row">
      <div class="col-md">{{ site.copyright }} {% if site.author %}@{{ site.author | escape }}{% endif %}
      </div>
      <div class="col-md">{% include views/social-links.html %}</div>
      <div class="footer-col rss-subscribe col-md">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></div>
      <div class="footer-col rss-subscribe col-md"><a href="/privacy-policy">Privacy policy</a></div>
    </div>
  </div>
</footer>
